<div class="d-flex justify-content-center">
  <button class="btn btn-success" style="position: fixed; z-index: 1; font-size: 20px;" routerLink="../subir-meme">Subir un Meme</button>
</div>

<div class="row">

  <div class="mt-5 col-sm">
    <div class="card" style="min-width: 400px;">
      <p class="card-text text-center">"Usuario" envió este meme</p>
      <img src="../../../assets/primer-meme.webp" class="card-img-top img-fluid" alt="meme de messi">
      <div class="card-body">
        <p class="card-text">Parrafo de quien subio el meme</p>
      </div>
    </div>
  </div>

  <div class="mt-5 col-sm">
    <div class="card" style="min-width: 18rem; height: 700px;">

      <iframe height="960" src="https://www.instagram.com/p/CVBP2ZnlEoe/embed" frameborder="0"></iframe>

    </div>
  </div>

</div>
