<div class="d-flex justify-content-center">
  <button class="btn btn-success" style="position: fixed; z-index: 1; font-size: 20px;" routerLink="../subir-meme" type="button">Subir un Meme</button>
</div>

<div class="row">

  <div class="mt-5 col-sm" *ngFor="let meme of listMemes">
    <div class="card" style="min-width: 400px;">
      <p class="card-text text-center">"Usuario" envió este meme</p>
      <img [src]="meme.file" class="card-img-top img-fluid" alt="meme de messi">
      <div class="card-body">
        <p class="card-text">{{meme.description}}</p>
      </div>
    </div>
  </div>

</div>
